* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
}

/* 表单 */
.froms {
    z-index: 99;
    padding-bottom: min(10vw, 4rem);
    align-items: center;
    justify-content: space-between;
}

.from,
.left-content {
    flex-direction: column;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.40, 1);
}

/* 注册登录的切换 */
.from1 {
    display: block;
}

.from2 {
    display: none;
}


.from input {
    content: "";
    width: 90%;
    border: none;
    border-radius: 10px;
    background-color: #f1f5fdb9;
    padding: min(2.5vw, 0.8rem) 1.2em;
    margin: min(2.2vw, 1rem) min(2vw, 0.5rem);
    font-weight: 600;
    backdrop-filter: blur(30px);
}

.froms .title {
    font-weight: 600;
}

/* 左边文本区 */
.left-content {
    transition: all 0.4s;
}

.left-content .title {
    font-size: 2em;
}

.from .user:after {
    content: "用户名";
    background-color: firebrick;
}

.from .toRegiste,
.from .toLogin {
    background-color: var(--text-mark-color);
    color: var(--theme-font-color);
    letter-spacing: 0.4em;
    transition: 0.5s;
}

.from .toRegiste:hover,
.from .toLogin:hover {
    transform: scale(1.05);
}



/* 去注册 */
.show-sign-in {
    position: relative;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.4s;
    user-select: none;
}

.show-sign-in::before {
    position: absolute;
    bottom: 10%;
    content: "";
    width: 0%;
    height: 10%;
    transition: 0.5s;
    font-size: 0.8em;
    background-color: var(--text-mark-color);
}

.show-sign-in:hover {
    color: var(--text-mark-color);
}

.show-sign-in:hover::before {
    content: "";
    width: 100%;
}

/* 背景 */
.bg {
    z-index: 0;
    position: absolute;
    filter: blur(30px);
    transition: 0.5s;
    background: linear-gradient(to right, #7d55ff, #f86230);
    animation: border-transform 20s infinite;
}

@media screen and (min-width: 300px) {

    /* 背景 */
    .bg {
        top: -40vw;
        left: -40vw;
        width: 100vw;
        height: 120vw;
        border-radius: 50%;
    }

    .left-content h1 {
        opacity: 0.8;
    }

}

@media screen and (max-width: 576px) {

    /* 背景 */
    .bg {
        top: -35%;
        left: -20%;
        width: 120%;
        height: 120vw;
        border-radius: 50%;
    }

    .left-content h1 {
        opacity: 0.8;
    }

}

@media screen and (min-width: 768px) {

    /* 背景 */
    .bg {
        top: -50%;
        left: 0%;
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
    }

    .left-content h1 {
        opacity: 1;
    }

}

@media screen and (min-width: 770px) {

    /* 背景 */
    .bg {
        top: -30%;
        left: -50%;
        width: 100vw;
        height: 120vw;
        border-radius: 50%;
    }

    .left-content h1 {
        opacity: 1;
    }

}

@media screen and (min-width: 900px) {

    /* 背景 */
    .bg {
        top: 20%;
        left: 12%;
        width: 25vw;
        height: 25vw;
        border-radius: 45%;
    }

    .left-content h1 {
        opacity: 1;
    }

}